@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    /*display: flex;*/
    flex-direction: column;
    /*align-items: center;*/
    font-family: Manrope;
    width: 1440px;
    height: 5031px;
    /*margin: 0;*/
}

header {
    display: flex;
    height: 50px;
}

nav {
    display: flex;
    gap: 28%;
    align-items: center;
    padding-top: 10px;
    
    padding-left: 11.2%;
}

.left-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 28px;
}

.logo-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9.2px;
}

.landify-img {
    width: 67.681px;
    height: 18.49px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    gap: 32px;

    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.857%;
}

.chevron-down {
    width: 18px;
    height: 18px;
    margin-left: -30px;
}

.right-nav {
    display: flex;
    flex-direction: row;
    gap: 12px;
    height: 40px;
}

.google-play-badge {
    width: 135px;
    height: 40px;
}

main {
    width: 100%;
    height: 93.65%;
}

.background-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 17.53%;
    gap: 2.08%;
}

.content {
    width: 50.7%;
    height: 35.1%;
    padding-top: 12.65%;
    padding-left: 10.9%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    gap: 11%; 
}

h1 {
    color: #18191F;

    font-size: 72px;           /* ?? */
    font-style: normal;
    font-weight: 800;
    line-height: 136.111%; 

    margin: 0;
}

.btn-get-started {
    border-radius: 8px;
    border: #8C30F5;
    background: #8C30F5;

    color: #FFF;
    text-align: center;

    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;

    width: 26.85%;
    height: 22%;

    padding: 0%;
}

.btn-get-started:hover{
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.8);
}

.btn-get-started:active{
    background:#521d8e;
}

.phone {
    width: 350px;
    height: 640px;
    padding-top: 110px;
    display: flex;  
    flex-direction: column;
    align-items: center;
    position: relative;
}

.iphone-img {
    position: absolute;
}

.screen-img {
    position: absolute;
    margin-top: 5.4%;
}

.left-band-img-1 {
    position: absolute;
    top: 156%;
}