@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    /*display: flex;*/
    flex-direction: column;
    /*align-items: center;*/
    font-family: Manrope;
    width: 1440px;
    height: 5031px;
    /*margin: 0;*/
}

header {
    display: flex;
    height: 50px;
}

nav {
    display: flex;
    gap: 28%;
    align-items: center;
    padding-top: 10px;
    
    padding-left: 11.2%;
}

.left-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 28px;
}

.logo-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9.2px;
}

.landify-img {
    width: 67.681px;
    height: 18.49px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    gap: 32px;

    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.857%;
}

.chevron-down {
    width: 18px;
    height: 18px;
    margin-left: -30px;
}

.right-nav {
    display: flex;
    flex-direction: row;
    gap: 12px;
    height: 40px;
}

.google-play-badge {
    width: 135px;
    height: 40px;
}

main {
    width: 100%;
    height: 93.65%;
}

.background-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 809px; /*17.53%*/
    gap: 2.08%;
}

.content {
    width: 50.7%;
    height: 41%;
    padding-top: 12.65%;
    padding-left: 10.9%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    gap: 10%; 
}

h1 {
    color: #18191F;

    font-size: 72px;           /* ?? */
    font-style: normal;
    font-weight: 800;
    line-height: 136.111%; 

    margin: 0;
}

.btn-get-started {
    border-radius: 8px;
    border: #8C30F5;
    background: #8C30F5;

    color: #FFF;
    text-align: center;

    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;

    width: 26.85%;
    height: 18.7%;

    padding: 0%;
}

.btn-get-started:hover{
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.8);
}

.btn-get-started:active{
    background:#521d8e;
}

.phone {
    width: 350px;
    height: 640px;
    padding-top: 110px;
    display: flex;  
    flex-direction: column;
    align-items: center;
    position: relative;
}

.iphone-img {
    position: absolute;
}

.screen-img {
    position: absolute;
    margin-top: 5.4%;
}

/*.left-band-1-img {
    position: absolute;
    top: 55.6%;
}

.left-band-2-img {
    position: absolute;
    top: 62.8%;
}

.right-band-2-img {
    position: relative;
    left: 828px;
    top: 508px;
}*/

.logo-clouds-section {
    width: 1110px;
    height: 110px;
    padding: 16px 165px;
    gap: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*.custom-hr {
    width: 1110px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(192, 204, 218, 0.10) 0%, rgba(192, 204, 218, 0.60) 50.38%, rgba(192, 204, 218, 0.10) 100%);
}
*/

.logos {
    display: flex;
    padding: 16px 0px;
    padding-right: 20px;
    align-items: center;
    flex-direction: row;
    gap: 64px;

    width: 891px;
    height: 28px;
}

.microsoft-logo-img {
    width: 122px;
}

.features-section {
    width: 1094px;
    height: 544px;
    padding: 64px 165px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.title-and-description {
    display: flex;
    width: 540px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.features-heading {
    color: #18191F;

    font-size: 48px;
    font-weight: 800;
    line-height: 133.333%; /* 64px */

    margin: 0;
}

.features-description {
    color: #18191F;
    text-align: center;
    
    font-size: 18px;
    font-weight: 400;
    line-height: 177.778%; /* 32px */

    margin: 0;
}

.features-list {
    width: 1110px;
    height: 360px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
}

.features-row {
    width: 1110px;
    height: 148px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.row-element {
    width: 350px;
    height: 148px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.elem-img {
    width: 32px;
    height: 32px;
}

.element-content {
    width: 350px;
    height: 92px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.elem-headline {
    width: 100%;
    height: 32px;
    color: #18191F;
    text-align: center;

    font-size: 24px;
    font-weight: 600;
    line-height: 133.333%; /* 32px */

    margin: 0;
}

.elem-description {
    width: 100%;
    height: 52px;

    color: #18191F;
    text-align: center;

    font-size: 16px;
    font-weight: 400;
    line-height: 162.5%; /* 26px */

    margin: 0;
}
