@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    /*display: flex;*/
    flex-direction: column;
    /*align-items: center;*/
    font-family: Manrope;
}

header {
    display: flex;
    padding: 0% 0%;
    justify-content: start;
    /*align-items: center;*/
    gap: 258px;
}

nav {
    display: flex;
    gap: 17.4%;
}

ul {
    display: flex;
    justify-content: start;
    list-style-type: none;
    gap: 32px;

    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.857%;
}

.left-nav {
    display: flex;
    padding: 16px 165px;
    justify-content: start;
    align-items: center;
    /*gap: 1%;*/

    width: 38%;
    height: 28px;
}

.logo {
    margin-right: 9.2px;
}

.landify {
    width: 67.681px;
    height: 18.49px;
}

.chevron-down {
    width: 18px;
    height: 18px;
    margin-left: -30px;
}

.right-nav {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    height: 28px;
}

.google-play-badge {
    width: 135px;
    height: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    gap: 32px;
    padding: px 11%;
}

.first-text {
    color: var(--Text-Gray-900, #18191F);
    font-feature-settings: 'liga' off;

    /* Heading / H1 */
    font-family: Manrope;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 98px; /* 136.111% */

    width: 730px;
}